* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    height: 100%;
    width: 100vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-cont {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}
.form-input {
    /* flex: 1 0 0; */
    /* border: 1px solid blue; */
}